@import './base.css';

body {
  /* background-image: url('background.png'); */
  background-color: darkcyan;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h1,
p {
  color: antiquewhite;
}

p {
  font-size: calc(1em + 1vmin);
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: calc(3em + 1vmin);
}

h2 {
  font-family: 'Consolas', monospace;
  font-size: calc(1.8em + 1vmin);
  color: rgba(217, 250, 215, 0.779);
}

p {
  color: rgba(255, 255, 255, 0.619);

}

#app {
  font-weight: normal;
}

.slide-fade-up-enter-active,
.slide-fade-down-enter-active,
.slide-fade-left-enter-active,
.slide-fade-right-enter-active {
  transition: all 1s ease;
}

.slide-fade-up-leave-active,
.slide-fade-left-leave-active {
  transition: all 1s;
}

.slide-fade-up-enter-from,
.slide-fade-up-leave-to {
  transform: translateY(100%);
  opacity: 0;
}

.slide-fade-down-enter-from,
.slide-fade-down-leave-to {
  transform: translateY(-100%);
  opacity: 0;
}

.slide-fade-left-enter-from,
.slide-fade-left-leave-to {
  transform: translateX(80%);
  opacity: 0;
}

.slide-fade-right-enter-from,
.slide-fade-right-leave-to {
  transform: translateX(-80%);
  opacity: 0;
}


@media (min-width: 1024px) {}